In [63]:
import pandas as pd

features = pd.read_csv('txs-sipher_inu-full.csv')
features.head(5)

,hash,nonce,block_number,from_address,to_address,value,gas,gas_used,gas_price,max_fee_per_gas,max_priority_fee_per_gas,transaction_type
0,0x8d7eaa6a23c78cb4cc44e411e60aba93ec11a3e18407...,530,13188414,0xf7d2b01d65d8ca773c3bf79212d180a441507dd5,0x4ebdd33ca183a8a5f82c43831df5147ea0e16b93,0,46703,46703,128971243075,1.956052e+11,1.500000e+09,2
1,0xa8c21440f487a27ddd3f8072bc0fc8cc1de0a5780b5d...,8,13188414,0xa7c6cee92a1cb56a0201c6549d7f60b0f36ff2e4,0x0fd829c3365a225fb9226e75c97c3a114bd3199e,0,450000,246088,128971243075,1.748560e+11,1.500000e+09,2
2,0x8dfc0853d1bc7aec521b97d08157883e4c096d356ad4...,0,13188414,0xf0fbdc635936b0738f6ee9e604f00425c4d4c5b0,0x1a2a1c938ce3ec39b6d47113c7955baa9dd454f2,230000000000000000,215887,163754,128971243075,1.812410e+11,1.500000e+09,2
3,0xb0c8287318892ab0126e1529038631755305dada390c...,23,13188414,0x6d5b0e4acf410406ca453129397712000bd89f87,0x0fd829c3365a225fb9226e75c97c3a114bd3199e,0,450000,246090,128971243075,1.956052e+11,1.500000e+09,2
4,0x871d3cb4adaa51690c5c7d6f1806fbf58897f0017d08...,10,13188414,0x920b95f5ac9ca368ea2d2011e5fd31661fe9bb46,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,0,74926,74926,128971243075,1.748560e+11,1.500000e+09,2

In [64]:
features = features[['block_number','to_address','value','gas','gas_used','gas_price', 'max_fee_per_gas', 'max_priority_fee_per_gas']]
features['value'] = features['value'].astype('float64')
features.head(5)

,block_number,to_address,value,gas,gas_used,gas_price,max_fee_per_gas,max_priority_fee_per_gas
0,13188414,0x4ebdd33ca183a8a5f82c43831df5147ea0e16b93,0.000000e+00,46703,46703,128971243075,1.956052e+11,1.500000e+09
1,13188414,0x0fd829c3365a225fb9226e75c97c3a114bd3199e,0.000000e+00,450000,246088,128971243075,1.748560e+11,1.500000e+09
2,13188414,0x1a2a1c938ce3ec39b6d47113c7955baa9dd454f2,2.300000e+17,215887,163754,128971243075,1.812410e+11,1.500000e+09
3,13188414,0x0fd829c3365a225fb9226e75c97c3a114bd3199e,0.000000e+00,450000,246090,128971243075,1.956052e+11,1.500000e+09
4,13188414,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,0.000000e+00,74926,74926,128971243075,1.748560e+11,1.500000e+09

In [65]:
features.describe()

,block_number,value,gas,gas_used,gas_price,max_fee_per_gas,max_priority_fee_per_gas
count,1.258391e+06,1.258391e+06,1.258391e+06,1.258391e+06,1.258391e+06,6.659250e+05,6.659250e+05
mean,1.319148e+07,2.016572e+18,1.837131e+05,8.184644e+04,1.513021e+11,2.313132e+11,3.184303e+10
std,1.884364e+03,3.167764e+20,4.110996e+05,1.672691e+05,2.629920e+11,4.347832e+11,1.657327e+11
min,1.318811e+07,0.000000e+00,2.100000e+04,2.100000e+04,5.574941e+10,5.574941e+10,0.000000e+00
25%,1.318991e+07,0.000000e+00,4.200000e+04,2.100000e+04,9.683952e+10,1.235571e+11,1.500000e+09
50%,1.319147e+07,0.000000e+00,1.000000e+05,4.610900e+04,1.173032e+11,1.600000e+11,2.000000e+09
75%,1.319308e+07,1.000000e+17,2.325460e+05,8.651800e+04,1.508658e+11,2.210041e+11,9.000000e+09
max,1.319478e+07,2.235530e+23,3.000000e+07,2.308042e+07,1.963000e+14,2.132130e+14,2.988653e+13

In [7]:
w3 = Web3(Web3.HTTPProvider('https://mainnet.infura.io/v3/45a1368e64284e5a94d658c34f585d90'))
w3.isConnected()

True

In [56]:
from web3 import Web3

uniswap_contracts = ['0xc0a47dFe034B400B47bDaD5FecDa2621de6c4d95', '0x5C69bEe701ef814a2B6a3EDD4B1652CB9cc5aA6f', '0x1F98431c8aD98523631AE4a59f267346ea31F984']
token_exchange = {}

# V1 Factory Contract

abi = [{"name": "NewExchange", "inputs": [{"type": "address", "name": "token", "indexed": True}, {"type": "address", "name": "exchange", "indexed": True}], "anonymous": False, "type": "event"}]
uniswap = w3.eth.contract(uniswap_contracts[0], abi=abi)
events = uniswap.events.NewExchange.createFilter(fromBlock=0).get_all_entries()
print(len(events))

for e in events:
    token_exchange[e.args.token] = e.args.exchange
    
# V2 Factory Contract

for start_block in range(10000835,w3.eth.get_block('latest')['number'],10000):
    abi = [{"inputs":[{"internalType":"address","name":"_feeToSetter","type":"address"}],"payable":False,"stateMutability":"nonpayable","type":"constructor"},{"anonymous":False,"inputs":[{"indexed":True,"internalType":"address","name":"token0","type":"address"},{"indexed":True,"internalType":"address","name":"token1","type":"address"},{"indexed":False,"internalType":"address","name":"pair","type":"address"},{"indexed":False,"internalType":"uint256","name":"","type":"uint256"}],"name":"PairCreated","type":"event"},{"constant":True,"inputs":[{"internalType":"uint256","name":"","type":"uint256"}],"name":"allPairs","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":False,"stateMutability":"view","type":"function"},{"constant":True,"inputs":[],"name":"allPairsLength","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"payable":False,"stateMutability":"view","type":"function"},{"constant":False,"inputs":[{"internalType":"address","name":"tokenA","type":"address"},{"internalType":"address","name":"tokenB","type":"address"}],"name":"createPair","outputs":[{"internalType":"address","name":"pair","type":"address"}],"payable":False,"stateMutability":"nonpayable","type":"function"},{"constant":True,"inputs":[],"name":"feeTo","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":False,"stateMutability":"view","type":"function"},{"constant":True,"inputs":[],"name":"feeToSetter","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":False,"stateMutability":"view","type":"function"},{"constant":True,"inputs":[{"internalType":"address","name":"","type":"address"},{"internalType":"address","name":"","type":"address"}],"name":"getPair","outputs":[{"internalType":"address","name":"","type":"address"}],"payable":False,"stateMutability":"view","type":"function"},{"constant":False,"inputs":[{"internalType":"address","name":"_feeTo","type":"address"}],"name":"setFeeTo","outputs":[],"payable":False,"stateMutability":"nonpayable","type":"function"},{"constant":False,"inputs":[{"internalType":"address","name":"_feeToSetter","type":"address"}],"name":"setFeeToSetter","outputs":[],"payable":False,"stateMutability":"nonpayable","type":"function"}]
    uniswap = w3.eth.contract(uniswap_contracts[1], abi=abi)
    events = uniswap.events.PairCreated.createFilter(fromBlock = start_block, toBlock = start_block + 10000).get_all_entries()
    for e in events:
        token_exchange[e.args.token0 + ',' + e.args.token1] = e.args.pair     

# V3 Factory Contract

for start_block in range(12369621 ,w3.eth.get_block('latest')['number'],10000):
    abi = [{"inputs":[],"stateMutability":"nonpayable","type":"constructor"},{"anonymous":False,"inputs":[{"indexed":True,"internalType":"uint24","name":"fee","type":"uint24"},{"indexed":True,"internalType":"int24","name":"tickSpacing","type":"int24"}],"name":"FeeAmountEnabled","type":"event"},{"anonymous":False,"inputs":[{"indexed":True,"internalType":"address","name":"oldOwner","type":"address"},{"indexed":True,"internalType":"address","name":"newOwner","type":"address"}],"name":"OwnerChanged","type":"event"},{"anonymous":False,"inputs":[{"indexed":True,"internalType":"address","name":"token0","type":"address"},{"indexed":True,"internalType":"address","name":"token1","type":"address"},{"indexed":True,"internalType":"uint24","name":"fee","type":"uint24"},{"indexed":False,"internalType":"int24","name":"tickSpacing","type":"int24"},{"indexed":False,"internalType":"address","name":"pool","type":"address"}],"name":"PoolCreated","type":"event"},{"inputs":[{"internalType":"address","name":"tokenA","type":"address"},{"internalType":"address","name":"tokenB","type":"address"},{"internalType":"uint24","name":"fee","type":"uint24"}],"name":"createPool","outputs":[{"internalType":"address","name":"pool","type":"address"}],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"uint24","name":"fee","type":"uint24"},{"internalType":"int24","name":"tickSpacing","type":"int24"}],"name":"enableFeeAmount","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"uint24","name":"","type":"uint24"}],"name":"feeAmountTickSpacing","outputs":[{"internalType":"int24","name":"","type":"int24"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"","type":"address"},{"internalType":"address","name":"","type":"address"},{"internalType":"uint24","name":"","type":"uint24"}],"name":"getPool","outputs":[{"internalType":"address","name":"","type":"address"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"owner","outputs":[{"internalType":"address","name":"","type":"address"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"parameters","outputs":[{"internalType":"address","name":"factory","type":"address"},{"internalType":"address","name":"token0","type":"address"},{"internalType":"address","name":"token1","type":"address"},{"internalType":"uint24","name":"fee","type":"uint24"},{"internalType":"int24","name":"tickSpacing","type":"int24"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"address","name":"_owner","type":"address"}],"name":"setOwner","outputs":[],"stateMutability":"nonpayable","type":"function"}]    
    uniswap = w3.eth.contract(uniswap_contracts[2], abi=abi)
    events = uniswap.events.PoolCreated.createFilter(fromBlock = start_block, toBlock = start_block + 10000).get_all_entries()
    for e in events:
        token_exchange[e.args.token0 + ',' + e.args.token1] = e.args.pool

In [73]:
import json

with open('pool_addresses_dict.txt', 'w') as file:
     file.write(json.dumps(token_exchange)) # use `json.loads` to do the reverse
        
textfile = open("pool_addresses_list.txt", "w")
for element in list(token_exchange.values()):
    textfile.write(element + "\n")
textfile.close()

In [100]:
features['to_address'] = features['to_address'].astype('str')
to_address_list = list(features['to_address'])
list_of_addresses = list(token_exchange.values())

for i in range(len(list_of_addresses)):
    list_of_addresses[i] = list_of_addresses[i].lower()

In [115]:
is_uniswap_transaction = [to_address in list_of_addresses for to_address in to_address_list]

In [122]:
features['is_to_address_uni_pool'] = is_uniswap_transaction
features['is_to_address_uni_pool'] = features['is_to_address_uni_pool'].astype('bool')
features['is_to_address_uni_pool'].value_counts()

False    1258116
True         275
Name: is_to_address_uni_pool, dtype: int64

In [123]:
features['is_sipher_inu_transaction'] = [to_address == '0x315bc085a14e251f129a361afa37205e3313bf15' for to_address in to_address_list]
features['is_sipher_inu_transaction'].value_counts()

False    1252762
True        5629
Name: is_sipher_inu_transaction, dtype: int64

In [124]:
features.head(5)

,block_number,to_address,value,gas,gas_used,gas_price,max_fee_per_gas,max_priority_fee_per_gas,is_to_address_uni_pool,is_sipher_inu_transaction
0,13188414,0x4ebdd33ca183a8a5f82c43831df5147ea0e16b93,0.000000e+00,46703,46703,128971243075,1.956052e+11,1.500000e+09,False,False
1,13188414,0x0fd829c3365a225fb9226e75c97c3a114bd3199e,0.000000e+00,450000,246088,128971243075,1.748560e+11,1.500000e+09,False,False
2,13188414,0x1a2a1c938ce3ec39b6d47113c7955baa9dd454f2,2.300000e+17,215887,163754,128971243075,1.812410e+11,1.500000e+09,False,False
3,13188414,0x0fd829c3365a225fb9226e75c97c3a114bd3199e,0.000000e+00,450000,246090,128971243075,1.956052e+11,1.500000e+09,False,False
4,13188414,0x7be8076f4ea4a4ad08075c2508e481d6c946d12b,0.000000e+00,74926,74926,128971243075,1.748560e+11,1.500000e+09,False,False

In [125]:
df_for_regression = features[['block_number', 'value' , 'gas', 'is_to_address_uni_pool', 'is_sipher_inu_transaction', 'gas_used']]
df_for_regression.head(5)

,block_number,value,gas,is_to_address_uni_pool,is_sipher_inu_transaction,gas_used
0,13188414,0.000000e+00,46703,False,False,46703
1,13188414,0.000000e+00,450000,False,False,246088
2,13188414,2.300000e+17,215887,False,False,163754
3,13188414,0.000000e+00,450000,False,False,246090
4,13188414,0.000000e+00,74926,False,False,74926

In [126]:
df_for_regression.to_csv('df_for_regression.csv')